.style-options {
    cursor: auto !important;
    width: 200px;
    height: 100%;
    position: fixed;
    right: -200px;
    color: #fff;
    top: 0;
    background-color: #24272a;
    border-left: 1px solid #13191b;
    z-index: 1000;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.style-options:before {
    content: 'Themes';
    position: relative;
    display: block;
    width: 100%;
    top: 0;
    text-align: center;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    font-size: 18px;
    padding: 14px 0;
    background: #1d1f22;
}

.style-options.active {
    right: 0;
}

.style-options .toggle-btn {
    position: absolute;
    display: flex;
    top: 25%;
    left: -40px;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #24272a;
    border-radius: 10px 0 0 10px;
    cursor: pointer;
}

.style-options .toggle-btn span {
    margin: 0;
    margin: 0 auto;
}

.style-options .toggle-btn span svg {
    margin-top: 4px;
    -webkit-animation-name: settings;
    animation-name: settings;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    color: #fff;
}
.style-options .toggle-btn span svg g [fill]{
    fill: #fff;
}

.style-options .style-menu {
    text-align: center;
    padding: 0;
}

.style-options .style-menu h4 {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}

.style-options .style-menu ul {
    background: rgba(0, 0, 0, .2);
}

.style-options .style-menu h4 {
    padding: 0 20px;
}

.style-options .style-menu ul li {
    display: inline-block;
    padding: 5px 0;
    width: 48%;
    line-height: 34px;
    font-size: 11px;
    text-transform: uppercase;
}

.style-options .style-menu ul li a {
    color: #fff;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer !important;
}

.style-options .style-menu ul li a:hover {
    color: #8e8e8e;
}

.style-options .style-menu ul li a svg g [fill] {
    fill: #fff;
}

.style-options .style-menu ul li svg {
    margin-right: 5px;
}

.style-options .style-menu .style-color ul {
    margin-top: 15px;
    background: #1d1f22;
    padding: 15px 15px;
}

.style-options .style-menu .style-color ul li {
    display: inline-block;
    width: auto;
    line-height: 0;
}

.style-options .style-menu .style-color ul li a {
    width: 40px;
    height: 40px;
	-webkit-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
}

@-webkit-keyframes settings {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

@keyframes settings {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}






.popup-screen{
    z-index: 999999;
    position: fixed;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    transition: 0.5s ease;
    transition-property: visibility;
  }
  
  .popup-screen.active{
    visibility: visible;
  }
  
  .popup-box{
    position: relative;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    max-width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    padding: 50px 40px;
    border-radius: 20px;
    box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
    transform: scale(0);
    transition: 0.5s ease;
    transition-property: transform;
  }
  
  .popup-screen.active .popup-box{
    transform: scale(1);
  }
  
  .popup-box h4{
    font-size: 1.5em;
    font-weight: 800;
    margin-bottom: 20px;
  }
  
  .popup-box p{
    font-size: 1em;
    margin-bottom: 30px;
  }
  
  .popup-box .btn{
    color: #fff;
    background: black;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    padding: 7px 27px;
    border-radius: 3px;
  }
  
  .close-btn{
    position: absolute;
    font-size: 1em;
    top: 0;
    right: 0;
    margin: 15px;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s ease;
    transition-property: opacity;
  }
  
  .close-btn:hover{
    opacity: 1;
  }
  
  section{
    padding: 50px 100px;
  }
  
  .home{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .image{
    position: relative;
    width: 45%;
    min-height: 450px;
  }
  
  .image img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .info{
    position: relative;
    width: 52%;
  }
  
  .info h2{
    font-size: 2em;
    font-weight: 800;
  }
  
  .info p{
    font-size: 1em;
    text-align: justify;
    margin-top: 10px;
  }
  
  @media (max-width: 990px){
    section{
      padding: 50px 30px;
    }
  
    .home{
      display: block;
    }
  
    .image{
      width: 100%;
    }
  
    .info{
      width: 100%;
      margin-top: 15px;
    }
  }
  

  #pp{
   color: black;
  }



